<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <div th:insert="~{index.html :: navbar}"></div>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<style th:insert="~{index.html :: style}"></style>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <h1>Results</h1>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Yarn</th>
            <th scope="col">Producer</th>
            <th scope="col">Composition</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="query : ${searchedData}">
            <td>
                <a th:href="@{/products/{id}(id=${query.id})}"
                th:text="${query.name}"></a>
            </td>
            <td th:text="${query.producer}"></td>
            <td th:text="${query.composition}"></td>
        </tr>
        </tbody>
    </table>

</body>
<footer th:insert="~{index.html :: footer}" class="footer"></footer>
</html>